.upgrade {
  position: relative;
  padding-top: 112px;
  background-color: #d8d8d8;
  background-image: url(../assets/images/bg_gray.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  animation-name: fadeInUp;
  animation-delay: 70ms;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  @media (min-width: 768px) {
    padding-top: 60px;
    background-position: 50% -150px;
  }
  @media (min-width: 1440px) {
    padding-top: 30px;
    background-position: 50% -160px;
    background-size: cover;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 100%;
  }
  &:before {
    top: 0;
    height: 227px;
    background: linear-gradient(to bottom,  rgba(#e8e7e5, 0.65) 0%, rgba(#fff, 0) 100%);
    @media (min-width: 768px) {
      height: 427px;
      background: linear-gradient(to bottom,  rgba(#fff, 0.65) 0%, rgba(#fff, 0) 100%);
    }
  }
  &:after {
    bottom: 0;
    height: 288px;
    background: linear-gradient(to top,  rgba(#e8e7e5, 0.65) 0%, rgba(#fff, 0) 100%);
    opacity: 0.6;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__title {
    @media (min-width: 768px) and (max-width: 1439px) {
      display: flex;
      align-items: flex-start;
    }
    @media (min-width: 1440px) {
      float: right;
      padding-top: 105px;
    }
    > p {
      @media (min-width: 768px) and (max-width: 1439px) {
        max-width: 280px;
        margin-top: 12px;
        margin-left: 53px;
      }
      @media (min-width: 1440px) {
        max-width: 420px;
      }
    }
  }
  &__blocks {
    position: relative;
    padding: 13px 0 12px;
    z-index: 1;
    @media (min-width: 375px) {
      padding: 13px 0 28px;
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }
    @media (min-width: 1440px) {
      justify-content: flex-start;
      padding: 13px 0 55px;
    }
  }
  &__block {
    display: flex;
    padding: 13px 0;
    @media (min-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 25%;
    }
    @media (min-width: 1440px) {
      width: 195px;
    }
  }
  &__img {
    display: flex;
    flex: none;
    width: 116px;
    height: 116px;
    @media (min-width: 768px) {
      width: 156px;
      height: 156px;
    }
    > img {
      @extend %img;
    }
  }
  &__desc  {
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-size: 14px;
    line-height: 22px;
    @media (min-width: 768px) {
      padding: 14px;
    }
  }
}
