.loot
  .container
    .loot__items
      a.loot__item(href="#")
        img(src="./assets/images/gear_01.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_02.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_03.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_04.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_05.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_06.jpg", alt="")

    .loot__title-wrapper
      .loot__title
        h2.h2 Collect the Loot
        p Unlock engrams to get epic in-game rewards. Every engram contains powerful weapons, armor, and gear.
      .loot__title-items
        a.loot__title-item(href="#")
          img(src="./assets/images/gear_07.jpg", alt="")
        a.loot__title-item(href="#")
          img(src="./assets/images/gear_13.jpg", alt="")

    .loot__items
      a.loot__item(href="#")
        img(src="./assets/images/gear_07.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_08.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_09.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_10.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_11.jpg", alt="")
      a.loot__item(href="#")
        img(src="./assets/images/gear_12.jpg", alt="")
