.loot {
  padding: 50px 0;
  color: #fff;
  background-color: #000;
  background-image: url(../assets/images/socials_cs_bg_m.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  @media (min-width: 1440px) {
    background-size: cover;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-left: -6px;
    margin-right: -6px;
    @media (min-width: 1200px) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  &__item {
    display: block;
    max-width: 165px;
    padding: 6px;
    @media (min-width: 1200px) {
      padding: 10px;
      max-width: 200px;
    }
    &:nth-child(n+4) {
      @media (max-width: 690px) {
        display: none;
      }
    }
    &:nth-child(n+5) {
      @media (min-width: 691px) and (max-width: 880px) {
        display: none;
      }
    }
    &:nth-child(n+6) {
      @media (min-width: 881px) and (max-width: 1050px) {
        display: none;
      }
    }
    > img {
      @extend %img;
    }
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    max-width: 708px;
    padding: 40px 0;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    > p {
      @media (min-width: 768px) {
        max-width: 348px;
        margin-top: 0;
        margin-left: 50px;
      }
    }
  }
  &__title-items {
    display: flex;
    @media (max-width: 1439px) {
      display: none;
    }
  }
  &__title-item {
    display: block;
    max-width: 200px;
    margin-left: 26px;
    > img {
      @extend %img;
    }
  }
}
