.ended {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 200;
  @media (min-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    width: 518px;
    min-height: 680px;
    transform: translate(-50%, -50%);
    @media (min-width: 1440px) {
      width: 1020px;
      min-height: 450px;
    }
  }
  &__close {
    position: absolute;
    top: 37px;
    right: 26px;
    z-index: 201;
    @media (min-width: 768px) {
      top: 30px;
      right: 30px;
    }
  }
  &__bg {
    position: relative;
    background-image: url(../assets/images/bg_ended_mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 1440px) {
      height: 450px;
      background-image: url(../assets/images/bg_ended_desktop.jpg);
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (200 / 261) * 100%;
      @media (min-width: 1440px) {
        padding-top: (449 / 709) * 100%;
      }
    }
  }
  &__inner {
    padding: 0 20px;
    color: #fff;
    @media (min-width: 1440px) {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 390px;
      padding: 0;
      transform: translateY(-50%);
    }
    > p {
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
      @media (min-width: 1440px) {
        font-size: 20px;
      }
    }
  }
  &__title {
    position: relative;
    padding: 15px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    @media (min-width: 1440px) {
      padding: 18px 0;
      font-size: 36px;
    }
    &:before,
    &:after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      background-color: #fff;
    }
    &:before {
      top: 0;
      width: 50px;
      height: 5px;
      @media (min-width: 1440px) {
        width: 81px;
        height: 8px;
      }
    }
    &:after {
      bottom: 0;
      width: 160px;
      height: 2px;
    }
  }
}



