.overlay
.ended
  .ended__close
    button.btn
      i.icon.icon--close
  .ended__bg
  .ended__inner
    .ended__title Contest has ended
    p Thanks to all the players and fans who entered, and congrats to all the winners!
    p Stay tuned for the next gaming experience from Rockstar Energy Drink.
