
<div class="overlay"></div>
<div class="permission">
  <div class="permission__close">
    <button class="btn"><i class="icon icon--close"></i></button>
  </div>
  <div class="permission__inner">
    <div class="permission__header">we need your permission</div>
    <div class="permission__desc">Allow Rockstar to view and modify your Destiny characters, vault, and progression.</div><a class="btn btn--login btn--white" href="#">Authorize with Bungie.net</a><a class="permission__link" href="#">Do you want to know more?</a>
  </div>
</div>