.permission {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 200;
  @media (min-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    width: 476px;
    min-height: 420px;
    transform: translate(-50%, -50%);
  }
  &__close {
    position: absolute;
    top: 20px;
    left: 20px;
    @media (min-width: 768px) {
      left: auto;
      right: 20px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    color: #fff;
    @media (min-width: 768px) {
      height: auto;
      padding: 75px 70px;
    }
  }
  &__header {
    padding: 7px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    border-top: 8px solid #fff;
    border-bottom: 2px solid #fff;
  }
  &__desc {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
  }
  &__link {
    margin-top: 13px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
  }
}
