.overlay
.permission
  .permission__close
    button.btn
      i.icon.icon--close
  .permission__inner
    .permission__header we need your permission
    .permission__desc Allow Rockstar to view and modify your Destiny characters, vault, and progression.
    a.btn.btn--login.btn--white(href="#") Authorize with Bungie.net
    a.permission__link(href="#") Do you want to know more?
