.hero.hero--404
  .hero__bg
  .container
    .hero__body
      .hero__title
        h2.h2 404 - Page Not Found
      .hero__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis, tempore, officiis labore suscipit, quasi voluptas quaerat sequi iusto at laudantium laborum cupiditate velit reprehenderit. Provident eum debitis, atque eaque!
      .hero__cans
        img(src="./assets/images/cans.png", alt="")
