.hero.hero--cs
  .hero__bg
  .container
    .hero__body
      .hero__title
        h2.h2 contest begins<br />september 1st
      .hero__desc Check back on September 1st, or see in-store for more details. Follow Destiny 2 and Rockstar’s channels below to get the latest contest updates.
      .hero__cans
        img(src="./assets/images/cans.png", alt="")
