.hero.hero--acc
  .container
    .hero__name
      div [Your game name]’s
      div LOOT HAUL

    .hero__form
      form(action="#")
        label.hero__label(for="code") enter code from tab
        //- error highlite - add class .input--error
        input.input.hero__input(id="code", type="text", placeholder="XXXX-XXXX-XXXX")
      .hero__tab
        img(src="./assets/images/can_tab.svg", alt="")

    .hero__validate
      .hero__accepted <b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.
      //- .hero__error Error: Invalid code. Try entering it again.
