
<div class="hero hero--acc">
  <div class="container">
    <div class="hero__name">
      <div>[Your game name]’s</div>
      <div>LOOT HAUL</div>
    </div>
    <div class="hero__form">
      <form action="#">
        <label class="hero__label" for="code">enter code from tab</label>
        <input class="input hero__input" id="code" type="text" placeholder="XXXX-XXXX-XXXX"/>
      </form>
      <div class="hero__tab"><img src="./assets/images/can_tab.svg" alt=""/></div>
    </div>
    <div class="hero__validate">
      <div class="hero__accepted"><b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.</div>
    </div>
  </div>
</div>