.hero {
  position: relative;
  background-color: #000;
  animation-name: fadeInUp;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 1;
  &--cs,
  &--404 {
    min-height: 719px;
    padding: 57% 20px 40px;
    @media (min-width: 768px) {
      min-height: 534px;
      padding: 40px 20px 40px 0;
      @include clearfix;
    }
    @media (min-width: 1440px) {
      height: 730px;
      padding: 70px 0 0;
    }
  }
  &--404 {
    z-index: -1;
    @media (max-width: 767px) {
      min-height: auto;
    }
  }
  &--lp {
    max-height: 609px;
    background-image: url(../assets/images/hero_lp_bg_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
      min-height: 474px;
      background-image: url(../assets/images/hero_lp_bg_d.jpg);
    }
    @media (min-width: 1440px) {
      min-height: 544px;
      background-image: url(../assets/images/hero_lp_bg_b.jpg);
    }
    p {
      line-height: 22px;
      @media (max-width: 1439px) {
        max-width: 325px;
      }
    }
  }
  &--acc {
    min-height: 380px;
    color: #fff;
    background-image: url(../assets/images/bg_account.jpg);
    background-repeat: no-repeat;
    background-position: 54% 0;
    background-size: auto 440px;
    @media (min-width: 768px) {
      min-height: 290px;
      background-position: 0 0;
      background-size: auto 380px;
    }
    @media (min-width: 900px) {
      background-position: right 0;
    }
    @media (min-width: 1440px) {
      min-height: 345px;
      background-position: 80px -40px;
      background-size: auto 632px;
    }
    @media (min-width: 1645px) {
      background-position: right -40px;
    }
    &:before {
      @media (max-width: 767px) {
        @include absolute-center;
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 815px / 750px * 100%;
    background-image: url(../assets/images/hero_cs_bg_m.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 768px) {
      padding-top: 0;
      height: 454px;
      background-image: url(../assets/images/hero_cs_bg_d.jpg);
      background-size: cover;
      @media (min-width: 960px) {
        height: 100%;
      }
      @media (min-width: 1440px) {
        background-image: url(../assets/images/hero_cs_bg_b.jpg);
      }
    }
    .hero--404 & {
      @media (min-width: 768px) {
        height: 100%;
      }
    }
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      padding-top: 48%;
      background-image: linear-gradient(180deg, rgba(47, 84, 98, 0) 0%, #000000 100%);
      @media (min-width: 768px) {
        padding-top: 19%;
      }
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }

  &__body {
    color: #fff;
    .hero--cs &,
    .hero--404 & {
      position: relative;
      max-width: 608px;
      margin: 0 auto;
      @media (min-width: 768px) {
        max-width: 290px;
        margin: auto;
        float: right;
      }
      @media (min-width: 1440px) {
        max-width: 423px;
      }
    }
    .hero--lp & {
      position: relative;
      max-width: 1208px;
      margin: 0 auto;
      padding: 50px 20px 0;
      @media (min-width: 768px) {
        padding: 70px 30px 0;
      }
      @media (min-width: 1440px) {
        padding: 88px 0 0;
      }
    }
  }

  &__desc {
    padding-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
  &__top {
    max-width: 540px;
    margin-bottom: 20px;
  }

  &__cans {
    position: relative;
    transition: all $mid;
    .hero--cs & {
      padding-top: 35px;
    }
    .hero--lp & {
      max-width: 337px;
      margin: 0 auto;
      z-index: 1;
      @media (min-width: 768px) {
        position: absolute;
        top: auto;
        right: 34px;
        bottom: -60px;
        width: 45%;
        max-width: 590px;
      }
      @media (min-width: 1440px) {
        bottom: -150px;
        right: -60px;
        width: 100%;
        max-width: 590px;
      }
    }
    .hero--404 & {
      display: none;
    }
    > img {
      @extend %img;
    }
  }

  &__form {
    display: flex;
    > form {
      width: 100%;
      max-width: 275px;
    }
  }
  &__label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }
  &__input {
    width: 100%;
    max-width: 275px;
  }
  &__tab {
    width: 45px;
    min-width: 45px;
    margin-left: 15px;
    > img {
      @extend %img;
    }
  }
  &__name {
    padding-top: 43px;
    padding-bottom: 125px;
    font-size: 30px;
    line-height: 1.2;
    text-shadow: 0 2px 24px rgba(0, 0, 0, 0.5);
    @media (min-width: 768px) {
      padding-top: 54px;
      padding-bottom: 11px;
    }
    @media (min-width: 1440px) {
      padding-top: 68px;
      font-size: 40px;
    }
  }
  &__validate {
    max-width: 335px;
    min-height: 70px;
    padding: 6px 0;
  }
  &__accepted {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  &__error {
    color: #ff0725;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}
