.account {
  position: relative;
  padding: 50px 0;
  background-image: url(../assets/images/bg_gray_big.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &:before {
    @include absolute-center;
    content: "";
    background-color: rgba(248, 248, 248, 0.6);
  }
  &__title-wrapper {
    display: flex;
    margin-bottom: 27px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    .account__title-wrapper & {
      line-height: 0.8;
    }
    & + p {
      margin-top: 10px;
      line-height: 1.3;
    }
  }
  &__engram-total {
    height: 45px;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
    border-left: 2px solid #aaaaa9;
    > div {
      font-size: 24px;
      line-height: 0.75;
      > span {
        color: #2683ef;
      }
    }
    > span {
      font-size: 14px;
    }
  }
  &__wrapper {
    @media (min-width: 1440px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__engrams {
    margin-bottom: 40px;
  }
  &__entries {
    @media (min-width: 1440px) {
      width: 300px;
      padding-left: 27px;
      border-left: 2px solid #c8c8c8;
    }
  }
  &__info {
    .account__engrams & {
      margin-top: 16px;
      @media (max-width: 1439px) {
        display: none;
      }
    }
    .account__entries & {
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }
  &__list {
    font-size: 14px;
    > li {
      position: relative;
      padding-left: 60px;
      line-height: 30px;
      > span {
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
  }
}


.engrams {
  @media (min-width: 768px) {
    display: flex;
  }
  &__block {
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
    }
    @media (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__group {
    display: flex;
    margin-bottom: 20px;
  }
  &__info {
    width: 60px;
    height: 60px;
    padding: 5px 0;
    text-align: center;
    > span {
      display: block;
      font-size: 12px;
      line-height: 1.5;
      text-transform: uppercase;
    }
    > div {
      font-size: 40px;
      line-height: 1;
    }
  }
  &__item {
    width: 60px;
    margin-left: 10px;
  }
  &__img {
    @extend %img;
  }
  &__date {
    height: 22px;
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}


.entries {
  padding-top: 30px;
  padding-bottom: 36px;
  @media (min-width: 1440px) {
    padding-bottom: 0;
  }
  &__block {
    width: 100%;
    @media (min-width: 768px) and (max-width: 1439px) {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 16px;
        border-bottom: 2px solid #c8c8c8;
      }
    }
  }
  &__period,
  &__prizes {
    width: 100%;
    @media (min-width: 768px) and (max-width: 1439px) {
      width: 50%;
    }
  }
  &__period {
    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding-bottom: 16px;
      border-bottom: 2px solid #c8c8c8;
    }
    @media (min-width: 1440px) {
      margin-bottom: 20px;
      padding-bottom: 16px;
      border-bottom: 2px solid #c8c8c8;
    }
  }
  &__prizes {
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 16px;
        border-bottom: 2px solid #c8c8c8;
      }
    }
    @media (min-width: 1440px) {
      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 16px;
        border-bottom: 2px solid #c8c8c8;
      }
    }
  }
  &__title-wrapper {
    display: flex;
    margin-bottom: 4px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.3;
    text-transform: uppercase;
    .entries__prizes & {
      margin-bottom: 14px;
    }
  }
  &__count {
    margin-left: 27px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    border-left: 2px solid #c8c8c8;
  }
  &__info {
    font-size: 10px;
    text-transform: uppercase;
  }
  &__prizes-item {
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 10px;
  }
  &__prizes-img {
    width: 35px;
    height: 35px;
    > img {
      @extend %img;
    }
  }
  &__prizes-title {
    min-width: 180px;
    padding-left: 14px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  &__prizes-count {
    padding-left: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    border-left: 2px solid #c8c8c8;
    > img {
      vertical-align: top;
    }
  }
}
