.win
  .container
    .win__inner
      .win__title
        h3.h3.h3--sec Win at Wal-Mart
        p Get another chance to win big when you buy any Hunter, Titan, or Warlock can at Wal-Mart. Every can will automatically enter you to win a Destiny motorcycle.
      .win__img
        img(src="./assets/images/motorcycle_01.jpg", alt="")
