.win {
  padding: 50px 0;
  color: #fff;
  background-image: url(../assets/images/bg_win_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    background-image: url(../assets/images/bg_win.jpg);
  }
  &__inner {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      max-width: 845px;
      margin: 0 auto;
    }
    @media (min-width: 1440px) {
      align-items: center;
      max-width: 1050px;
    }
  }
  &__title {
    @media (min-width: 768px) {
      order: 1;
      width: 40%;
    }
    @media (min-width: 1440px) {
      max-width: 360px;
    }
  }
  &__img {
    margin-top: 30px;
    @media (min-width: 768px) {
      order: 0;
      flex: none;
      width: 408px;
      margin-top: 0;
    }
    @media (min-width: 1440px) {
      width: 650px;
    }
    > img {
      @extend %img;
    }
  }
}
