.header
  .header__inner
    if menu === true
      .nav
        .nav__btn
          .nav__user Hi, Jessica
          ul.nav__menu
            li
              a.nav__link(href="#") log out
            li
              a.nav__link(href="#") home
            li
              a.nav__link(href="#") my account
          .nav__close
            button.btn
              i.icon.icon--close

    if login === true
      .header__left
        .auth-links
          a.auth-links__link(href="#") Login
          span.auth-links__divider /
          a.auth-links__link(href="#") Sign Up

    .header__center
      .header__logo
        if page === 'lp'
          a.logo-rs.logo-rs--lp(href="http://rockstarenergy.com", target="_blank", title="Rockstar Energy Drink")
        else
          a.logo-rs.logo-rs--cs(href="http://rockstarenergy.com", target="_blank", title="Rockstar Energy Drink")
      .header__logo
        if page === 'lp'
          a.logo-rs.logo-d2--lp(href="https://www.destinythegame.com", target="_blank", title="Destiny 2")
        else
          a.logo-rs.logo-d2--cs(href="https://www.destinythegame.com", target="_blank", title="Destiny 2")

    if page === 'lp'
      .header__right
        a.btn.btn--pri(href="#") Add Code
