.header {
  position: relative;
  background-color: #000;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1380px;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
    @media (min-width: 768px) {
      padding: 0 30px;
    }
    @media (min-width: 1440px) {
      padding: 0;
    }
  }
  &__center {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__logo {
    &:not(:last-child) {
      margin-right: 15px;
      @media (min-width: 768px) {
        margin-right: 17px;
      }
      @media (min-width: 1440px) {
        margin-right: 31px;
      }
    }
  }

}


.auth-links {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 14px;
  }
  &__link {
    color: inherit;
    &:hover {
      opacity: 0.7;
    }
  }
  &__divider {
    margin: 0 4px;
  }
}


.logo-rs {
  display: block;
  background-repeat: no-repeat;
  &--cs {
    width: 109px;
    height: 33px;
    background-image: url(../assets/images/logo_rs.svg);
    background-size: 109px 33px;
    @media (min-width: 768px) {
      width: 123px;
      height: 37px;
      background-size: 123px 37px;
    }
    @media (min-width: 1440px) {
      width: 139px;
      height: 42px;
      background-size: 139px 42px;
    }
  }
  &--lp {
    width: 41px;
    height: 39px;
    background-image: url(../assets/images/logo_rs_min.svg);
    background-size: 41px 39px;
    @media (min-width: 1440px) {
      width: 139px;
      height: 42px;
      background-image: url(../assets/images/logo_rs.svg);
      background-size: 139px 42px;
    }
  }
}


.logo-d2 {
  display: block;
  background-repeat: no-repeat;
  &--cs {
    width: 114px;
    height: 30px;
    background-image: url(../assets/images/logo_d2.svg);
    background-size: 114px 30px;
    @media (min-width: 768px) {
      width: 128px;
      height: 34px;
      background-size: 128px 34px;
    }
    @media (min-width: 1440px) {
      width: 145px;
      height: 38px;
      background-size: 145px 38px;
    }
  }
  &--lp {
    width: 44px;
    height: 24px;
    background-image: url(../assets/images/logo_d2_min.svg);
    background-size: 44px 24px;
    @media (min-width: 1440px) {
      width: 145px;
      height: 38px;
      background-image: url(../assets/images/logo_d2.svg);
      background-size: 145px 38px;
    }
  }
}
