
<div class="header">
  <div class="header__body">
    <div class="header__left">
      <div class="auth-links"><a class="auth-links__link" href="#">Login</a><span class="auth-links__divider">/</span><a class="auth-links__link" href="#">Sign Up</a></div>
    </div>
    <div class="header__center">
      <div class="header__logo"><a class="logo-rs logo-rs--cs" href="http://rockstarenergy.com" target="_blank" title="Rockstar Energy Drink"></a>
      </div>
      <div class="header__logo"><a class="logo-rs logo-d2--cs" href="https://www.destinythegame.com" target="_blank" title="Destiny 2"></a>
      </div>
    </div>
  </div>
</div>