.prizes {
  position: relative;
  padding: 50px 0 120px;
  background-color: #000;
  background-image: url(../assets/images/bg_landscape_mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  @media (min-width: 768px) {
    height: 1000px;
    background-image: url(../assets/images/bg_landscape_tab.jpg);
  }
  @media (min-width: 1440px) {
    height: 1220px;
    padding: 75px 0 120px;
    background-size: cover;
  }
  &__bg {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 248px;
    background-image: url(../assets/images/bg_rock_mobile.png);
    background-repeat: repeat-x;
    @media (min-width: 768px) {
      top: 600px;
      height: 403px;
      background-image: url(../assets/images/bg_rock_tab_desktop.png);
    }
    @media (min-width: 1440px) {
      top: 750px;
      height: 472px;
      background-image: url(../assets/images/bg_rock_desktop.png);
    }
    @media (min-width: 2200px) {
      //background-size: 75%;
    }
  }
  &__inner {
    max-width: 335px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 845px;
    }
  }
  &__items {
    padding-top: 20px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    @media (min-width: 768px) {
      width: 45%;
      max-width: none;
    }
  }
  &__img {
    max-width: 280px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
    @media (min-width: 768px) {
      max-width: none;
    }
    > img {
      @extend %img;
    }
    & + & {
      padding-top: 15px;
      border-top: 1px solid #000;
    }
  }
}


.prizes-grand {
  color: #fff;
  background-color: #000;
  > .container {
    top: -45px;
    @media (min-width: 768px) {
      top: -115px;
    }
    @media (min-width: 1440px) {
      top: -180px;
    }
  }
}
