.prizes
  .prizes__bg
  .container
    .prizes__inner
      h2.h2.h2--sec sweepstakes prizes
      p Every can is a chance to win copies of Destiny 2 Limited Edition, PS4 Pro consoles, or even a Destiny-themed motorcycle. Start collecting—the more cans you get, the more chances to win.

      .prizes__items
        .prizes__item
          h3.h3 daily prizes
          p Another day, another prize. Redeem codes for a chance to win copies of Destiny 2 Limited Edition—every day.
          .prizes__img
            img(src="./assets/images/pack_destiny2_ps4.png", alt="")
        .prizes__item
          h3.h3 weekly prizes
          p Every week, one lucky winner will get a PS4 Pro Console and a Destiny 2 Limited Edition bundle.
          .prizes__img
            img(src="./assets/images/ps4.png", alt="")
          .prizes__img
            img(src="./assets/images/set_desteny2.png", alt="")


.prizes-grand
  .container
    .prizes__inner
      .prizes__items
        .prizes__item
          h3.h3.h3--sec grand prizes
        .prizes__item
          p Three grand prize winners will get a Destiny-themed motorcycle, based on the Husqvarna 701 Supermoto. Each can counts for a different bike—collect them all for more chances to win.
