.notifications
  .notifications__inner
    .notifications__block
      .notifications__count 12/20
      .notifications__info In-Game Rewards Unlocked
    .notifications__block
      .notifications__count 16
      .notifications__info Grand Prize Entries

  .notifications__anim
    .anim.anim--animate
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
      .anim__img
        img(src="./assets/images/hexagon.svg", alt="")
