
<div class="notifications">
  <div class="notifications__block">
    <div class="notifications__count">12/20</div>
    <div class="notifications__info">In-Game Rewards Unlocked</div>
  </div>
  <div class="notifications__block">
    <div class="notifications__count">16</div>
    <div class="notifications__info">Grand Prize Entries</div>
  </div>
</div>