.notifications {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(#000, 0.5);
  z-index: 50;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
  &__inner {
    display: flex;
    width: 100%;
    max-width: 1380px;
    height: 30px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
  }
  &__block {
    display: flex;
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (min-width: 768px) {
      margin-right: 37px;
    }
  }
  &__count {
    font-weight: 700;
  }
  &__info {
    position: relative;
    margin-left: 13px;
    padding-left: 10px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:before {
      position: absolute;
      content: "";
      top: 8px;
      left: 0;
      width: 2px;
      height: 14px;
      border-left: 2px solid #979797;
    }
  }
  &__anim {
    position: relative;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
  }
}


.anim {
  position: absolute;
  top: -30px;
  left: 140px;
  z-index: 1;
  @media (min-width: 768px) {
    left: 210px;
  }
  @media (min-width: 1208px) {
    left: 24%;
  }
  @media (min-width: 1440px) {
    left: -40px;
  }
  &__img {
    position: absolute;
    opacity: 0;
    > img {
      @extend %img;
    }
    .anim--animate & {
      animation-duration: 3s;
      animation-fill-mode: both;
      animation-name: fadeInUpOut;
    }
  }
  &__img:nth-child(1) {
    top: 22px;
    left: 40px;
    width: 38px;
    @media (min-width: 768px) {
      top: 25px;
      left: 15px;
      width: 42px;
    }
    @media (min-width: 1440px) {
      top: 43px;
      left: 61px;
      width: 42px;
    }
  }
  &__img:nth-child(2) {
    top: 47px;
    left: 125px;
    width: 25px;
    animation-delay: .4s;
    @media (min-width: 768px) {
      top: 63px;
      left: 71px;
    }
    @media (min-width: 1440px) {
      top: 25px;
      left: 135px;
    }
  }
  &__img:nth-child(3) {
    top: 102px;
    left: 124px;
    width: 22px;
    animation-delay: .3s;
    @media (min-width: 768px) {
      top: 223px;
      left: 122px;
    }
    @media (min-width: 1440px) {
      top: 213px;
      left: 39px;
    }
  }
  &__img:nth-child(4) {
    top: 120px;
    left: 63px;
    width: 31px;
    animation-delay: .2s;
    @media (min-width: 768px) {
      top: 172px;
      left: 72px;
    }
    @media (min-width: 1440px) {
      top: 126px;
      left: 81px;
    }
  }
  &__img:nth-child(5) {
    top: 229px;
    left: 116px;
    width: 22px;
    animation-delay: .1s;
    @media (min-width: 768px) {
      top: 281px;
      left: 93px;
    }
    @media (min-width: 1440px) {
      top: 327px;
      left: 138px;
      width: 25px;
    }
  }
  &__img:nth-child(6) {
    top: 258px;
    left: 53px;
    width: 36px;
    @media (min-width: 768px) {
      top: 301px;
      left: 26px;
    }
    @media (min-width: 1440px) {
      top: 261px;
      left: 78px;
    }
  }
}


@keyframes fadeInUpOut {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
