.footer {
  background-color: #000;
  &__inner {
    padding: 30px 20px;
    @media (min-width: 768px) {
      padding: 30px;
    }
    @media (min-width: 1440px) {
      max-width: 1208px;
      margin: 0 auto;
      padding: 40px 0;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    > span {
      display: block;
      width: 2px;
      height: 20px;
      margin: 0 8px;
      background-color: #979797;
    }
  }
  &__nav-link {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    @media (min-width: 375px) {
      font-size: 14px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__desc {
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
  }
  &__logos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    @media (min-width: 1440px) {
      justify-content: space-between;
    }
  }
  &__logo {
    margin-bottom: 20px;
    vertical-align: top;
    &:not(:first-child) {
      @media (max-width: 519px) {
        display: flex;
        width: 50%;
      }
    }
    &:nth-child(odd) {
      @media (max-width: 519px) {
        justify-content: flex-end;
      }
    }
    &:first-child {
      @media (max-width: 519px) {
        width: 100%;
      }
    }
    @media (min-width: 520px) {
      width: 33.3333%;
    }
    @media (min-width: 768px) {
      width: 25%;
    }
    @media (min-width: 1024px) {
      width: 20%;
    }
    @media (min-width: 1280px) {
      width: 16.6666%;
    }
    @media (min-width: 1440px) {
      width: auto;
    }
  }
  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 74px;
    > img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}
