.socials {
  padding: 50px 0;
  animation-name: fadeInUp;
  animation-delay: 140ms;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  &--cs {
    background-color: #000;
    background-image: url(../assets/images/socials_cs_bg_m.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    @media (min-width: 768px) {
      padding: 40px 0;
    }
    @media (min-width: 1440px) {
      background-size: cover;
    }
  }
  &--lp {
    background-color: #000;
    background-image: url(../assets/images/bg_gray.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @media (min-width: 1440px) {
      padding: 80px 0;
      background-position: 50% 24%;
    }
  }
  &__title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    .socials--lp & {
      display: none;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 708px;
      margin: 0 auto;
      padding: 0;
    }
    .socials--cs & {
      @media (min-width: 1440px) {
        max-width: 730px;
      }
    }
    .socials--lp & {
      @media (min-width: 1440px) {
        max-width: 837px;
      }
    }
  }
  &__block {
    &:not(:last-child) {
      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 335px;
    height: 57px;
    margin-bottom: 15px;
    padding-right: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      max-width: 320px;
    }
    &--d2 {
      padding-left: 90px;
      background-image: url(../assets/images/logo_d2_min.svg);
      background-repeat: no-repeat;
      background-size: 53px 30px;
      background-position: 20px 50%;
    }
    &--rs {
      padding-left: 90px;
      background-image: url(../assets/images/logo_rs_min.svg);
      background-repeat: no-repeat;
      background-size: 43px 42px;
      background-position: 20px 50%;
    }
    .socials--cs & {
      background-color: rgba(#000, 0.6);
    }
    .socials--lp & {
      background-color: rgba(#000, 0.75);
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 71px;
    transition: opacity $mid;
    &:hover {
      opacity: 0.7;
    }
    &--yt {
      background-color: #be2018;
    }
    &--tw {
      background-color: #57a4da;
    }
    &--fb {
      background-color: #385899;
    }
    &--ig {
      background: #d14667;
      background: linear-gradient(to bottom, #d14667 0%, #f37c32 100%);
    }
  }
}
