if page === 'cs'
  - var classMod = 'socials socials--cs'
else if page === 'lp'
  - var classMod = 'socials socials--lp'


div(class=classMod)
  .socials__title get the latest updates
  .socials__inner
    .socials__block
      .socials__info.socials__info--d2 Check out news, updates, and more from Destiny 2
      .socials__buttons
        a.socials__link.socials__link--yt(href="https://www.youtube.com/user/destinygame/home", target="_blank")
          i.icon.icon--yt
        a.socials__link.socials__link--tw(href="https://twitter.com/destinythegame", target="_blank")
          i.icon.icon--tw
        a.socials__link.socials__link--fb(href="https://www.facebook.com/DestinyTheGame", target="_blank")
          i.icon.icon--fb
        a.socials__link.socials__link--ig(href="https://www.instagram.com/destinythegame/", target="_blank")
          i.icon.icon--ig
    .socials__block
      .socials__info.socials__info--rs Get the latest updates from Rockstar Energy Drink
      .socials__buttons
        a.socials__link.socials__link--yt(href="https://www.youtube.com/rockstar", target="_blank")
          i.icon.icon--yt
        a.socials__link.socials__link--tw(href="https://twitter.com/rockstarenergy", target="_blank")
          i.icon.icon--tw
        a.socials__link.socials__link--fb(href="https://www.facebook.com/rockstar", target="_blank")
          i.icon.icon--fb
        a.socials__link.socials__link--ig(href="https://www.instagram.com/rockstarenergy/", target="_blank")
          i.icon.icon--ig
