
<div>
  <div class="socials__title">get the latest updates</div>
  <div class="socials__inner">
    <div class="socials__block">
      <div class="socials__info socials__info--d2">Check out news, updates, and more from Destiny 2</div>
      <div class="socials__buttons"><a class="socials__link socials__link--yt" href="https://www.youtube.com/user/destinygame/home" target="_blank"><i class="icon icon--yt"></i></a><a class="socials__link socials__link--tw" href="https://twitter.com/destinythegame" target="_blank"><i class="icon icon--tw"></i></a><a class="socials__link socials__link--fb" href="https://www.facebook.com/DestinyTheGame" target="_blank"><i class="icon icon--fb"></i></a><a class="socials__link socials__link--ig" href="https://www.instagram.com/destinythegame/" target="_blank"><i class="icon icon--ig"></i></a></div>
    </div>
    <div class="socials__block">
      <div class="socials__info socials__info--rs">Get the latest updates from Rockstar Energy Drink</div>
      <div class="socials__buttons"><a class="socials__link socials__link--yt" href="https://www.youtube.com/rockstar" target="_blank"><i class="icon icon--yt"></i></a><a class="socials__link socials__link--tw" href="https://twitter.com/rockstarenergy" target="_blank"><i class="icon icon--tw"></i></a><a class="socials__link socials__link--fb" href="https://www.facebook.com/rockstar" target="_blank"><i class="icon icon--fb"></i></a><a class="socials__link socials__link--ig" href="https://www.instagram.com/rockstarenergy/" target="_blank"><i class="icon icon--ig"></i></a></div>
    </div>
  </div>
</div>