.overlay
.login
  .login__close
    button.btn
      i.icon.icon--close
  .login__inner
    .login__block
      .login__header
        .login__info SIGN UP
        .login__title NEW USER
        .login__desc Create an account to gear up!
      a.btn.btn--login.btn--white(href="#") Sign up for an account

    .login__block
      .login__header
        .login__info SIGN IN
        .login__title EXISTING USER
        .login__desc Log in below to use your Bungie accounts.
      a.btn.btn--login.btn--blue(href="#") Log into Playstation Network
      a.btn.btn--login.btn--green(href="#") Log into Xbox Live
