.login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 200;
  @media (min-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    max-width: 376px;
    min-height: 690px;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 1440px) {
    min-height: 468px;
    max-width: 987px;
  }
  &__close {
    position: absolute;
    top: 20px;
    left: 20px;
    @media (min-width: 1440px) {
      left: auto;
      right: 20px;
    }
  }
  &__inner {
    padding: 68px 20px 30px;
    @media (min-width: 1440px) {
      display: flex;
      padding: 73px 100px;
    }
  }
  &__block {
    @media (min-width: 1440px) {
      width: 50%;
      min-width: 390px;
    }
    &:nth-child(1) {
      margin-bottom: 44px;
      padding-bottom: 44px;
      @media (max-width: 1439px) {
        border-bottom: 2px solid #666;
      }
      @media (min-width: 1440px) {
        padding-right: 55px;
      }
    }
    &:nth-child(2) {
      @media (min-width: 1440px) {
        padding-left: 55px;
        border-left: 2px solid #666;
      }
    }
  }
  &__header {
    min-height: 131px;
    margin-bottom: 32px;
    padding: 4px 0 18px;
    color: #fff;
    border-top: 8px solid #fff;
    border-bottom: 2px solid #fff;
    @media (min-width: 1440px) {
      margin-bottom: 50px;
    }
  }
  &__info {
    font-size: 14px;
    text-transform: uppercase;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
  }
  &__desc {
    font-size: 20px;
    line-height: 1;
  }
}
