
<div class="overlay"></div>
<div class="login">
  <div class="login__close">
    <button class="btn"><i class="icon icon--close"></i></button>
  </div>
  <div class="login__inner">
    <div class="login__block">
      <div class="login__header">
        <div class="login__info">SIGN UP</div>
        <div class="login__title">NEW USER</div>
        <div class="login__desc">Create an account to gear up!</div>
      </div><a class="btn btn--login btn--white" href="#">Sign up for an account</a>
    </div>
    <div class="login__block">
      <div class="login__header">
        <div class="login__info">SIGN IN</div>
        <div class="login__title">EXISTING USER</div>
        <div class="login__desc">Log in below to use your Bungie accounts.</div>
      </div><a class="btn btn--login btn--blue" href="#">Log into Playstation Network</a><a class="btn btn--login btn--green" href="#">Log into Xbox Live</a>
    </div>
  </div>
</div>