extends ./index.pug

block content
  - var page = 'lp'
  - var login = true
    include ./components/header/header.pug

  include ./components/hero/hero-acc.pug


  .account
    .container

      .account__wrapper
        .account__engrams
          .account__title-wrapper
            .account__title Engrams
            .account__engram-total
              div 12/20
              span Total
            .account__engram-total
              div
                span 7
              span Blue cans

          .engrams
            .engrams__block
              .engrams__group
                .engrams__info
                  span GROUP
                  div 1
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_red.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM

              .engrams__group
                .engrams__info
                  span GROUP
                  div 2
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_red.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM

              .engrams__group
                .engrams__info
                  span GROUP
                  div 3
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_red.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM

              .engrams__group
                .engrams__info
                  span GROUP
                  div 4
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_red.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_blue.svg", alt="")
                  .engrams__date 5/4 9:15PM


            .engrams__block
              .engrams__group
                .engrams__info
                  span GROUP
                  div 5
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_red.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_yellow.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_gray.svg", alt="")
                  .engrams__date
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_gray_accent.svg", alt="")
                  .engrams__date

              .engrams__group
                .engrams__info
                  span group unlocks <strong>10/11</strong>
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock_accent.svg", alt="")
                  .engrams__date 5/4 9:15PM

              .engrams__group
                .engrams__info
                  span group unlocks <strong>10/18</strong>
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock_accent.svg", alt="")
                  .engrams__date 5/4 9:15PM

              .engrams__group
                .engrams__info
                  span group unlocks <strong>10/25</strong>
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock.svg", alt="")
                  .engrams__date 5/4 9:15PM
                .engrams__item
                  img.engrams__img(src="./assets/images/engram_lock_accent.svg", alt="")
                  .engrams__date 5/4 9:15PM

          .account__info
            h4.h4 How to unlock your rewards:
            ul.account__list
              li <span>Step 1:</span> Get Rockstar code off can tab
              li <span>Step 2:</span> Go to Rockstar microsite listed on can
              li <span>Step 3:</span> Log in to Bungie.net account (desired 1P account) via Rockstar microsite
              li <span>Step 4:</span> Enter Rockstar code into Rockstar microsite
              li <span>Step 5:</span> Rockstar code entry into microsite automatically ties to Bungie.net code and  	generates in-game reward per selected  	platform
              li <span>Step 6:</span> Confirm code platform redemption
              li <span>Step 7:</span> Log in to Destiny 2
              li <span>Step 8:</span> Pick up engrams from the postmaster



        .account__entries
          .account__title Sweepstakes entries
          p Keep track of your daily, weekly, and grand prize entries below.

          .entries
            .entries__block
              .entries__period
                .entries__title-wrapper
                  .entries__title DAILY
                  .entries__count 05
                .entries__info ENTRIES RESET IN  D <strong>00</strong>  :  H <strong>23</strong>  :  M <strong>59</strong>  :  S <strong>59</strong>
              .entries__period
                .entries__title-wrapper
                  .entries__title WEEKLY
                  .entries__count 18
                .entries__info ENTRIES RESET IN  D <strong>00</strong>  :  H <strong>23</strong>  :  M <strong>59</strong>  :  S <strong>59</strong>

            .entries__block
              .entries__prizes
                .entries__title grand prizes
                .entries__prizes-item
                  .entries__prizes-img
                    img(src="./assets/images/prize_01.svg", alt="")
                  .entries__prizes-title Titan Bike
                  .entries__prizes-count 5
                .entries__prizes-item
                  .entries__prizes-img
                    img(src="./assets/images/prize_02.svg", alt="")
                  .entries__prizes-title Hunter Bike
                  .entries__prizes-count 7
                .entries__prizes-item
                  .entries__prizes-img
                    img(src="./assets/images/prize_03.svg", alt="")
                  .entries__prizes-title Warlock Bike
                  .entries__prizes-count 6

              .entries__prizes
                .entries__title Exclusive Walmart prizes
                .entries__prizes-item
                  .entries__prizes-img
                    img(src="./assets/images/prize_04.png", alt="")
                  .entries__prizes-title Walmart Bike
                  .entries__prizes-count 1
                .entries__prizes-item
                  .entries__prizes-img
                    img(src="./assets/images/prize_04.png", alt="")
                  .entries__prizes-title Walmart Bike
                  .entries__prizes-count
                    img(src="./assets/images/icons/icon_unlocked.svg", alt="")

          .account__info
            h4.h4 How to unlock your rewards:
            ul.account__list
              li <span>Step 1:</span> Get Rockstar code off can tab
              li <span>Step 2:</span> Go to Rockstar microsite listed on can
              li <span>Step 3:</span> Log in to Bungie.net account (desired 1P account) via Rockstar microsite
              li <span>Step 4:</span> Enter Rockstar code into Rockstar microsite
              li <span>Step 5:</span> Rockstar code entry into microsite automatically ties to Bungie.net code and  	generates in-game reward per selected  	platform
              li <span>Step 6:</span> Confirm code platform redemption
              li <span>Step 7:</span> Log in to Destiny 2
              li <span>Step 8:</span> Pick up engrams from the postmaster
