doctype html
html(lang="en")
  include ./components/head/head.pug
  body
    .wrapper
      block content

        - var page = 'cs'
          include ./components/header/header.pug

        include ./components/hero/hero-cs.pug
        include ./components/socials/socials.pug


      include ./components/footer/footer.pug

      block login


  link(rel="stylesheet", href="./css/main.css")
  script(src='./js/vendor/jquery-3.1.0.min.js')
  script(src='./js/vendor/vanillaTextMask.js')
  script(src='./js/main.js')
