extends ./index.pug

block content
  - var page = 'lp'
  - var login = true
    include ./components/header/header.pug

  include ./components/hero/hero-lp.pug
  include ./components/upgrade/upgrade.pug
  include ./components/loot/loot.pug
  include ./components/prizes/prizes.pug
  include ./components/win/win.pug
  include ./components/socials/socials.pug


block login
  include ./components/login/login.pug
