.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: center;
  border: 0 none;
  cursor: pointer;
  &--pri {
    width: 80px;
    height: 30px;
    color: #000;
    background-color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.71px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      width: 110px;
    }
    @media (min-width: 1440px) {
      width: 150px;
      height: 36px;
      font-size: 14px;
      line-height: 36px;
      letter-spacing: 1px;
    }
  }
  &--login {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    & + & {
      margin-top: 25px;
    }
  }
  &--white {
    color: #333;
    background-color: #fff;
  }
  &--blue {
    color: #fff;
    background-color: #0068bf;
  }
  &--green {
    color: #fff;
    background-color: #028d04;
  }
}
