/* Common Styles
----------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: $primary-font;
  line-height: 1.75;
  opacity: 1;
}

*, *:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  transition: all $slow;
}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0 none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: $container-with;
  margin: 0 auto;
  padding: 0 20px;
  @include clearfix;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
  @media (min-width: 1440px) {
    padding: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#292929, 0.7);
  z-index: 100;
}

.no-scroll {
  overflow: hidden;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
