// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

// @font-face {
//   font-family: 'font-family';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../assets/fonts/font-name.eot');
//   src: local('☺'),
//     url('../assets/fonts/font-name.woff2') format('woff2'),
//     url('../assets/fonts/font-name.woff') format('woff'),
//     url('../assets/fonts/font-name.ttf') format('truetype'),
//     url('../assets/fonts/font-name.svg#font-name') format('svg');
// }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('☺'),
       url('../assets/fonts/roboto-v16-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/roboto-v16-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('☺'),
       url('../assets/fonts/roboto-v16-latin-700.woff2') format('woff2'),
       url('../assets/fonts/roboto-v16-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('☺'),
       url('../assets/fonts/roboto-v16-latin-900.woff2') format('woff2'),
       url('../assets/fonts/roboto-v16-latin-900.woff') format('woff');
}
