.input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  &::placeholder {
    position: relative;
    top: 1px;
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  &--error {
    color: #ff0725;
  }
}
