@svg-load fb url(assets/images/icons/icon_facebook.svg) {
  path {
    fill: #ffffff;
  }
}
@svg-load yt url(assets/images/icons/icon_youtube.svg) {
  path {
    fill: #ffffff;
  }
}
@svg-load tw url(assets/images/icons/icon_twitter.svg) {
  path {
    fill: #ffffff;
  }
}
@svg-load ig url(assets/images/icons/icon_instagram.svg) {
  path {
    fill: #ffffff;
  }
}

.icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: inherit;
  background-repeat: no-repeat;
  background-position: 50%;
  &--yt {
    width: 41px;
    height: 41px;
    background-image: svg-inline(yt);
    background-size: 36px;
  }
  &--tw {
    width: 41px;
    height: 41px;
    background-image: svg-inline(tw);
    background-size: 41px;
  }
  &--fb {
    width: 41px;
    height: 41px;
    background-image: svg-inline(fb);
    background-size: 30px;
  }
  &--ig {
    width: 41px;
    height: 41px;
    background-image: svg-inline(ig);
    background-size: 36px;
  }
  &--close {
    width: 24px;
    height: 24px;
    background: svg-load('assets/images/icons/icon_close.svg');
    background-size: 24px;
  }
}
