.h2 {
  position: relative;
  margin: 0;
  padding: 12px 0;
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  }
  @media (min-width: 1440px) {
    padding: 21px 0 16px;
    font-size: 48px;
    letter-spacing: 1.5px;
    line-height: 50px;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    left: 0;
    background-color: #fff;
  }
  &:before {
    top: 0;
    width: 50px;
    height: 5px;
    @media (min-width: 1440px) {
      width: 110px;
      height: 8px;
    }
  }
  &:after {
    bottom: 0;
    width: 160px;
    height: 2px;
    @media (min-width: 1440px) {
      width: 327px;
    }
  }
  &--sec {
    color: #000;
    &:before,
    &:after {
      background-color: #000;
    }
  }
  &--big {
    @media (min-width: 768px) {
      padding: 21px 0 16px;
      font-size: 48px;
      letter-spacing: 1.5px;
      line-height: 50px;
    }
    @media (min-width: 1440px) {
      font-size: 64px;
      letter-spacing: 2.67px;
      line-height: 60px;
    }
    &:before {
      @media (min-width: 768px) {
        width: 110px;
        height: 8px;
      }
      @media (min-width: 1440px) {
        width: 110px;
        height: 8px;
      }
    }
    &:after {
      @media (min-width: 768px) {
        width: 233px;
      }
      @media (min-width: 1440px) {
        width: 233px;
      }
    }
  }
  & + p {
    margin-top: 16px;
  }
}

.h3 {
  position: relative;
  margin: 8px 0 0;
  padding: 6px 0;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 24px;
    letter-spacing: 1px;
  }
  @media (min-width: 1440px) {
    font-size: 30px;
    letter-spacing: 1.25px;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background-color: #000;
  }
  &:before {
    top: 0;
    height: 5px;
    @media (min-width: 1440px) {
      height: 8px;
    }
  }
  &:after {
    bottom: 0;
    height: 2px;
  }
  &--sec {
    color: #fff;
    &:before,
    &:after {
      background-color: #fff;
    }
  }
  & + p {
    margin-top: 16px;
  }
}

.h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
