// Colors
$yellow:              #fce473;
$pink:                #c71585;
$green:               #32cd32;
$blue:                #1d90ff;
  
$primary-color:       $blue;
$secondary-color:     $yellow;


// Fonts
$primary-font:        "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$secondary-font:      Arial, sans-serif;
  

// Dimensions
$container-with: 1208px;


// Transitions
$fast: 150ms;
$mid:  350ms;
$slow: 500ms;
