.nav {
  &--open {
    @media (hover: none) and (max-width: 414px) {
      .nav__menu,
      .nav__close {
        opacity: 1;
        visibility: visible;
      }
      .nav__user {
        opacity: 0;
        visibility: hidden;
      }
    }
    @media (min-width: 415px) {
      .nav__menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__btn {
    &:hover .nav__menu {
      @media (hover: hover) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__user {
    position: relative;
    padding-right: 21px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-style: solid;
      border-width: 6px 5.5px 0 5.5px;
      border-color: #fff transparent transparent transparent;
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s;
    z-index: 80;
    @media (hover: none) and (max-width: 414px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: #000;
      width: 100vw;
      height: calc(100vh - 60px);
      left: 0;
    }
  }
  &__link {
    display: block;
    min-width: 166px;
    height: 40px;
    padding: 0 10px;
    color: #fff;
    background-color: #000;
    line-height: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    border-top: 1px solid #555;
    @media (hover: none) and (max-width: 414px) {
      height: 77px;
      margin: 0 20px;
      padding: 0;
      font-size: 30px;
      font-weight: 400;
      line-height: 77px;
      border-top: 1px solid #979797;
      li:first-child & {
        border-top: 0 none;
      }
    }
    li:last-child & {
      border-bottom: 1px solid #555;
    }
  }
  &__close {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s;
    z-index: 81;
    > .btn {
      width: inherit;
      height: inherit;
    }
  }
}
